{% extends 'layouts/centered.html.twig' %}

{% block title %}Register{% endblock %}

{% block mainContent %}
    <div class="card">
        <div class="card-header m-0">
            <h5>Register</h5>
        </div>
        <div class="card-body">
            {% include 'includes/flashes.html.twig' %}
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            <div >
                <progress id="progressbar" value="0" max="10"></progress>

            </div>
                {{ form_row(registrationForm.agreeTerms) }}


                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>

    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
   <script src="{{ asset("js/mdp.js") }}"></script>
{% endblock %}
